@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
     padding: 0;
     margin: 0;
}

.bg-custom{
     background-image: url(/Assets/img/FondoStart.svg);
     background-size: 100%;
     height: 100vh;
     width: 100%;
     background-repeat: no-repeat;
     display: flex;
     div{
          font-family: 'Poppins',sans-serif;
          margin-top: auto;
          width: 100%;
          padding: 2em;
     }
}

.welcome{
     font-family: 'Poppins', sans-serif;
     font-weight: 800;
     font-size: 24px;
     color: #f9f9f9;
}

.utt{
     font-family: 'Poppins', sans-serif;
     font-weight: 800;
     font-size: 24px;
     color: #3ACD83;
}

.otes{
     font-family: 'Poppins', sans-serif;
     font-weight: 800;
     font-size: 24px;
     color: #f9f9f9;
}

.description{
     color: #fff;
     font-weight: 300;
     font-size: 15px;
}

.login{
     background-color: #3BCC8B;
     height: 40px;
     width: 100%;
     border: none;
     border-radius: 50px;
     margin-top: 10px;
}

.login p{
     font-family: 'Poppins', sans-serif;
     font-size: 20px;
     font-weight: 700;
     color: #f9f9f9;
}

.signup{
     background-color: #AAF0CA;
     height: 40px;
     width: 100%;
     border: none;
     border-radius: 50px;
     margin-top: 10px;
}

.signup p{
     font-family: 'Poppins', sans-serif;
     font-size: 20px;
     font-weight: 700;
     color: #0A5B3E;
}
