<div class="bg-custom">
     <div>
          <span class="welcome">
               Welcome to 
          </span>
          <span class="utt">
               UTT N

          </span>
          <span class="otes">
               otes
          </span>
          <p class="description">
               The perfect place for save your homework, goals, ideas, code, dreams, projects and more.
          </p>

          <a href="login.html"><button class="login"><p>Log in</p></button></a>
          <a href="signup.html"><button class="signup"><p>Sign up</p></button></a>
     </div>
</div>
