<div class="bg-custom">
     <div>
          <span class="welcome">
               Welcome to 
          </span>
          <span class="utt">
               UTT N

          </span>
          <span class="otes">
               otes
          </span>
          <p class="description">
               The perfect place for save your homework, goals, ideas, code, dreams, projects and more.
          </p>

          <a><button class="login login-view"><p>Log in</p></button></a>
          <a><button class="signup signup-view"><p>Sign up</p></button></a>
     </div>
</div>

<script>
     document.querySelector('.signup-view').addEventListener('click',function(){
         loadPartialView('signup',document.querySelector('.app'), false);
     })

     document.querySelector('.login-view').addEventListener('click',function(){
         loadPartialView('login',document.querySelector('.app'), false);
     })
 </script>