    <div class="centers">
        <div class="container-input">
            <span id="icon">
                <i class="fa-solid fa-envelope icolor"></i>
            </span>
            <input class="input type" type="email" placeholder="Name.lastname@uttn.mx">
        </div>
        <div class="container-input">
            <span id="icon">
                <i class="fa-solid fa-lock icolor"></i>
            </span>
            <input class="input type" type="password" placeholder="Password">
        </div>
        <div class="real">
            <a class="linkix">Forgot Password?</a>
        </div>
        <div class="container-button">
            <button class="buttonlog type1" type="button">Log In</button>
        </div>
        <div class="container-button">
            <div class="lol">
                <div class="lols"><hr></div>
                    <span class="tc">Or</span>
                <div class="lols"><hr></div>
            </div>
        </div>  
        <div class="container-button">
            <button class="buttonsign type1 color signup-view" type="button">Sign Up</button>
        </div>
    </div>

<style>
    *{
        font-family: 'Poppins',sans-serif;
    }

    body{
        background-size: cover;
        background-image: url("Assets/img/FondoUTTN.svg");
    }
</style>

<script>
    document.querySelector('.signup-view').addEventListener('click',function(){
        loadPartialView('signup',document.querySelector('.app'), false);
    })
</script>