<div class="centerfv tm">
    <h1 class="title">All Notes</h1>
</div>
<div class="centerfv tablemargin">
    <div class="tablefv">
        <div class="tablecellfv">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="tablecellfv">
            <input type="search" class="searchbar phcenter" placeholder="Search">
        </div>
        <div class="tablecellfv">
            <i class="fa-solid fa-plus"></i>
        </div>
    </div>
</div>

<style>


    *{
        font-family: 'Poppins',sans-serif;
        background-color: #222725;
    }
</style>